body{

margin:0;

background:#050505;

font-family:Arial;

color:white;

}

header{

display:flex;

justify-content:space-between;

padding:20px;

background:#111;

}

.logo h1{

color:#00bfff;

}

nav a{

margin:15px;

color:white;

text-decoration:none;

}

.hero{

text-align:center;

padding:60px;

}

.avatar{

width:220px;

border-radius:50%;

box-shadow:0 0 30px #00bfff;

}

button{

background:#00bfff;

color:white;

border:none;

padding:15px 30px;

border-radius:30px;

cursor:pointer;

font-size:18px;

}

.chat{

width:80%;

margin:auto;

padding:40px;

}

#messages{

background:#111;

padding:20px;

height:300px;

overflow:auto;

border-radius:20px;

}

.shadow{

background:#222;

padding:15px;

border-radius:15px;

margin-bottom:10px;

}

.user{

background:#00bfff;

padding:15px;

border-radius:15px;

margin-bottom:10px;

text-align:right;

}

.input{

display:flex;

margin-top:20px;

}

input{

flex:1;

padding:15px;

font-size:18px;

border-radius:15px;

border:none;

}

button{

margin-left:10px;
